user = "projectrebound-meta-origin"
serverAddr = "GATEWAY_IPV4"
serverPort = 7002
loginFailExit = false

transport.wireProtocol = "v2"
transport.protocol = "quic"
transport.poolCount = 4
transport.tcpMuxKeepaliveInterval = 15
transport.heartbeatInterval = -1
transport.tls.enable = true
transport.tcpMux = true

auth.method = "token"
auth.additionalScopes = ["HeartBeats", "NewWorkConns"]
auth.tokenSource.type = "file"
auth.tokenSource.file.path = "/etc/projectrebound-meta-frpc/token"

log.to = "console"
log.level = "info"
log.disablePrintColor = true

[[proxies]]
name = "meta-http-origin"
type = "tcp"
localIP = "127.0.0.1"
localPort = 18082
remotePort = 18082

[[proxies]]
name = "meta-logic-origin"
type = "tcp"
localIP = "127.0.0.1"
localPort = 16968
remotePort = 16969
